body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url("https://i.imgur.com/7DGVCSP.png") no-repeat center center;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .kalkulator {
    background: transparent;
    backdrop-filter: blur(20px);
    border-radius: 10px;
    box-shadow: 0 0 3px rgb(0, 0, 1);
    padding: 20px;
  }
  #kalkulator Kalkulator Logika {
    justify-content: center;
  }
  
  #display {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: left;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 3px rgb(0, 0, 1);;
  }
  
  .button {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  
  .btn-lg {
    background-color: white;
    border: black 0px solid;
  }
  
  .btn:active {
    background-color: #ddd;
  }
  
  .boolean {
    grid-column: span 2;
  }
  
  .operator {
    background-color: rgb(255, 203, 31);
  }
  
  .operator:active {
    background-color: rgb(255, 245, 132);
  }
  
  .clear {
    grid-column: span 2;
    background-color: rgb(255, 17, 17);
    color: white;
    width: 100%;
  }
  
  .clear:active {
    background-color: rgb(255, 50, 50);
  }
  
  .submit {
    grid-column: span 4;
    background-color: rgb(57, 229, 255);
    color: #000000;
    width: 100%;
  }
  
  .submit:active {
    background-color: rgb(135, 211, 255);
  }
  
  .backspace {
    grid-column: span 2;
    background-color: rgb(255, 17, 17);
    color: white;
  }
  
  .backspace:active {
    background-color: rgb(255, 50, 50);
  }

  .dropdown-toggle {
    background-color: transparent;
    border: 0px;
    box-shadow: 0px;
  }
  
  .dropdown-menu {
    background-color: transparent;
    border: 0px;
    box-shadow: transparent;
  }

  .button > * {
    box-shadow: 0 0 3px black;
  }